.container{
    /*background-image: url('../images/gradient-mountain-landscape_23-2149152831.webp');*/
    background-color: rgb(134, 126, 126);
    background-size: contain;
    width: 992px;
    margin: 200px auto;
    padding: 1.8rem;
    color: whitesmoke;
    border-radius: 100px;
    border: 20px solid rgba(9, 40, 9, 0.84);
}

h1{
    font-size: 3rem;
    letter-spacing: 3px;
}

#profilePicture{
    height: 220px;
    width: 220px;
    background-color: rgba(95, 67, 67, 0.88);
    border-radius: 50%;
}

body{
    letter-spacing: 1px;
    background-image: url('../images/gradient-mountain-landscape_23-2149152831.webp');
}

a{
    color: #caca2e;
    font-weight: bold;
}